@use "../decorative/textures";
.pill-item {
  @include textures.brushed-metal-grey;
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  box-shadow: inset 0 1px 1px rgb(62, 62, 62);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  overflow: hidden;

  .pill-edit-button {
    background: none;
    border: none;
    border-radius: 20px 0 0 20px;
    color: white;
    padding: 0.2rem 0.75rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    text-align: left;

    &.with-icon {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .pill-delete-button {
    background: rgb(112, 112, 112);
    border: none;
    color: white;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.25rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease;

    &:hover {
      background: rgb(161, 161, 161);
    }

    &:active {
      background: rgba(255, 100, 100, 1);
    }
  }
}
