.start-menu {
  position: absolute;
  bottom: 30px; // Height of the taskbar
  left: 0;
  width: 250px;
  background: linear-gradient(0deg, #222, #444);
  border: 1px solid #666;
  border-radius: 5px 5px 0 0;
  z-index: 1000;
  color: white;

  .start-menu-inner {
    padding: 10px;

    ul {
      list-style: none;
      padding: 2px;
      margin: 0;

      li {
        border-radius: 3px;
        padding: 8px 12px;
        cursor: pointer;

        &:hover {
          background: linear-gradient(
            0deg,
            rgb(110, 231, 231),
            rgb(161, 230, 235)
          );
          border-color: aquamarine;
        }
      }
    }

    ul {
      background-color: white;
      border-radius: 5px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
      color: black;

      li {
        font-size: 0.8rem;
      }
    }
  }
}

.start-button {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.1s ease-in-out;
}

.start-button-wrapper {
  width: 38px;
  height: 38px;

  background: transparent;
  border: none;
  cursor: default;
  line-height: 0;
  outline: none;
  padding: 0;

  position: absolute;
  bottom: -3px;
  left: 13px;
  z-index: 1002;
  display: block;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}
