.movies-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  font-size: 0.9rem;
  overflow: visible;
  border: 1px solid rgba(255, 255, 255, 0.3);

  .table-header {
    background: rgba(30, 30, 40, 0.9);
    backdrop-filter: blur(5px);
    border-top: none;
    border-bottom: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    padding: 0.25rem;

    position: sticky;
    top: -1px;
    z-index: 1;

    &.header-year {
      max-width: 60px;
      width: 60px;
      text-align: center;
    }

    &.header-rating {
      max-width: 60px;
      width: 60px;
      text-align: center;
    }
  }

  &-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &.editing {
      background: repeating-linear-gradient(
        135deg,
        #f1c40f,
        #f1c40f 10px,
        #2c3e50 10px,
        #2c3e50 20px
      );
    }

    &.header-row {
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }
  }

  &-cell {
    padding: 0.5rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);

    &.font-small {
      font-size: 0.8rem;
    }
  }

  &-btn {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);

    &.editing {
      background-color: white;
    }
  }

  tbody {
    td {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}

.loading-container {
  margin-bottom: 0.8em;
  padding: 0.3em 0.8em;

  .loading-text {
    font-size: 0.8em;
  }
}

/* ROWS */
.movies-table-row {
  .cell {
    padding: 0 0.25rem;

    &-year {
      text-align: center;
    }

    &-rating {
      max-width: 80px;
      width: 80px;
      text-align: center;
    }

    &-watched {
      max-width: 80px;
      width: 40px;
    }

    &-country {
      text-align: center;
    }

    &-actions {
      max-width: 100px;
      width: 100px;
    }

    .value {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    }
  }
}
