.views-manager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 1rem;

  background: rgba(100, 100, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);

  .save-view-section,
  .load-view-section {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .load-view-section {
    .css-b62m3t-container {
      flex-grow: 1;
    }
  }

  .delete-view-button {
    background-color: #dc3545; // A red color for delete buttons

    &:hover {
      background-color: #c82333;
    }
  }
}
