@use './_pill-item.scss';
@use './ui/_start-menu.scss';

@mixin glass-inner-container {
  background: rgba(100, 100, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

/* HEADINGS */
.heading-centre {
  width: fit-content;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  margin-right: auto;
  margin-left: auto;
  padding: 0 0.5rem;
  text-align: center;
}

.heading-left {
  width: fit-content;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-right-radius: 4px;
  line-height: 1;

  margin-right: auto;
  padding: 0.25rem 0.5rem 0.45rem;
  text-align: left;
}

/* BUTTONS */
.btn {
  background-image: linear-gradient(
    0deg,
    rgb(161, 161, 161),
    rgb(246, 246, 246)
  );
  color: rgb(82, 82, 82);
  cursor: default;
  padding: 0.25rem 0.75rem;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 4px;
  box-shadow: 0 1px 0px 0px rgb(205, 205, 205);
  box-sizing: border-box;
  filter: grayscale(1);
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1;
  outline: none;
  /* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); */
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline: 1px dashed #000;
    outline-offset: 1px;
  }

  &:active {
    background-image: linear-gradient(
      180deg,
      rgb(161, 161, 161),
      rgb(215, 215, 215)
    );
  }
}

/* CHECKBOX */
.checkbox {
  display: flex;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.4),
    0 0px 4px 1px rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
  text-shadow: 0 1px 3px rgb(0, 0, 0), 0 0 8px rgba(0, 0, 0, 0.8);

  &__inner {
    width: 100%;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 2px;
    padding: 0 0.25rem;

    display: flex;
    align-items: center;

    &__input {
      width: 16px;
      height: 16px;
      appearance: none;
      position: relative;

      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 1px 3px rgba(0, 0, 0, 0.3);
      margin-right: 0.5rem;

      &:checked::after {
        content: "✓";
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 14px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 0.8);
      }
    }
  }
}
