.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(
        to bottom,
        rgba(155, 166, 169, 0.8),
        rgba(59, 81, 85, 0.8)
      )
      0 0 / 100% 50% no-repeat,
    linear-gradient(to bottom, rgba(6, 28, 32, 0.8), rgba(11, 39, 43, 0.8)) 0
      15px / 100% 16px no-repeat;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 60px;
  gap: 0.5rem;

  .taskbar-content {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
    margin-right: auto;
    padding: 1px 0;
  }

  .taskbar-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.1rem 0.6rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2),
      inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 0.7rem;
    cursor: pointer;
    max-width: 200px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);

    &:hover,
    &:focus,
    &:focus-visible {
      background: radial-gradient(
          ellipse at bottom,
          #5cd9de,
          2%,
          #1e84ba 13%,
          transparent 50%,
          transparent
        ),
        rgba(255, 255, 255, 0.1);
      outline: none;
    }

    &:active {
      background: radial-gradient(
          ellipse at bottom,
          #5cd9de,
          2%,
          #1e84ba 13%,
          transparent 50%,
          transparent
        ),
        rgba(39, 44, 45, 0.8);
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2),
        inset 0 0 0 1px rgba(255, 255, 255, 0);
      outline: none;
    }

    &.active {
      background: rgba(39, 44, 45, 0.8);
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3),
        inset 0 0 0 1px rgba(255, 255, 255, 0);

      &:hover {
        background: radial-gradient(
            ellipse at bottom,
            #5cd9de,
            2%,
            #1e84ba 13%,
            transparent 50%,
            transparent
          ),
          rgba(39, 44, 45, 0.8);
      }
    }

    .taskbar-icon {
      font-size: 0.9rem;
      flex-shrink: 0;
    }

    .taskbar-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .taskbar-clock {
    color: white;
    font-size: 0.8rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  }
}
