@use "./decorative/textures";
@use "./ui";

.window {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 450px;
  max-height: 80vh;
  background: rgba(220, 220, 220, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  z-index: 200;
  overflow: hidden;

  &--solid {
    @extend .window;
    background: #dcdcdc;
    backdrop-filter: unset;
    border-radius: 0 0 8px 8px;
    border: 1px solid #666;
  }

  &.maximized {
    transform: none !important;
  }

  .window-titlebar {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.4rem 1rem 0.5rem 0.4rem;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &.metal {
      @include textures.brushed-metal;
      border-bottom: 1px solid #444;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
      margin-bottom: 2px;
    }

    span {
      color: white;
      font-weight: 600;
      font-size: 0.8rem;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    }

    .window-close {
      font-size: 1rem;
      margin: 0rem -1rem 0 0;
      &:hover {
        background: rgba(255, 100, 100, 0.4);
      }

      &:active {
        background: rgba(255, 100, 100, 0.6);
      }
    }
  }

  .window-content {
    padding: 0.5rem;
    max-height: calc(80vh - 32px);
    overflow-y: auto;
  }

  .window-content--compact {
    @extend .window-content;
    padding: 0;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 100;

  .sidebar-content {
    padding: 2rem 1rem;
  }

  .sidebar-btn {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 1rem;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
      transform: translateX(-5px);
    }
  }
}
