@use "../ui";

.genre-form {
  @include ui.glass-inner-container;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  .form-group {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: auto;
    padding: 0.25rem 0.25rem 0;

    input {
      flex-grow: 1;
    }
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;

    .submit {
      margin-left: auto;
    }
  }
}
