@use "../decorative/textures";

.backup-window {
  backdrop-filter: unset;
  border-radius: 8px;
  border: 1px solid black;
  width: 400px;
  height: 480px;

  .window-content {
    @include textures.fine-paper;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;

    .backup-section,
    .restore-section,
    .export-section {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      padding: 15px;
      margin: 10px 10px 0;
      border: 1px solid grey;
      /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */

      p,
      legend,
      input,
      label {
        font-family: "Segoe UI Variable", "Segoe UI", Tahoma, Geneva, Verdana,
          sans-serif;
        font-size: 0.8em;
        margin-top: 0;
        margin-bottom: 10px;
        color: black;
        text-shadow: 0 1px 2px rgba(128, 128, 128, 0.8);
      }
    }

    .restore-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        button {
          width: 50%;
        }
      }
    }

    .export-section {
      .cta {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      fieldset {
        display: flex;
        flex-wrap: wrap;
        column-gap: 9px;

        margin-top: 10px;
        padding: 10px;
        border-radius: 4px;

        legend {
          font-weight: bold;
          color: black;
          text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
        }

        label {
          margin: 0;
          display: flex;
          align-items: baseline;
          color: black;
          text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);

          input {
            margin-right: 2px;
          }
        }
      }
    }

    .message {
      border-top: 1px solid black;
      text-align: center;
      color: black;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}
