@use "../ui";
@use "../decorative/textures";

.director-list {
  @include ui.glass-inner-container;
  @include textures.brushed-metal;

  border-radius: 0;
  border: unset;
  border-top: 1px solid white;
  padding: 0 0.5rem 0.5rem 0;
  margin-top: 2px;

  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .checkbox {
      margin-top: 0.25rem;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 0 0 0.5rem;
  }
}
