@use "../ui";
@use "../decorative/textures";

.director-form {
  @include ui.glass-inner-container;
  @include textures.brushed-metal;

  border-radius: 0;
  border: unset;
  border-top: 1px solid white;
  border-bottom: 1px solid #444;
  padding: 0;

  .form-group {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: auto;
    padding: 0.25rem 0.25rem 0;

    input {
      flex-grow: 1;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;

    .submit {
      margin-left: auto;
    }
  }
}
