@use "../ui";
@use "../decorative/textures";

.director-form {
  @include ui.glass-inner-container;
  @include textures.brushed-metal;

  border-radius: 0;
  border: unset;
  border-top: 1px solid white;
  border-bottom: 1px solid #444;
  padding: 0;

  .form-group {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: auto;
    padding: 0.25rem 0.5rem 0;

    input {
      flex-grow: 1;
    }
  }

  .buttons {
    width: 100%;
    padding: 0.5rem;

    .buttons-inner {
      @include textures.brushed-metal-grey;
      border-radius: 5px;
      box-shadow: inset 0 -1px 0px rgba(255, 255, 255, 0.9),
        inset 0 2px 8px 0px rgba(64, 64, 64, 0.8);
      padding: 2px;

      display: flex;
      justify-content: space-between;
    }

    .submit {
      margin-left: auto;
    }
  }
}
